## Java

*.class
*.war
*.ear
hs_err_pid*

## Eclipse

.classpath
.project
.metadata/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/build/
/nbbuild/
/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/

## OS Specific
.DS_Store
Thumbs.db